.css_cedula_det_label {text-align: right;vertical-align: middle;}
.css_cedula_det_line {height:0px;text-align: right;}
.css_nombre_det_label {text-align: right;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: right;}
.css_cargo_det_label {text-align: right;vertical-align: middle;}
.css_cargo_det_line {height:0px;text-align: right;}
.css_funciones_det_label {text-align: right;vertical-align: middle;}
.css_funciones_det_line {height:0px;text-align: right;}
.css_correo_det_label {text-align: right;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: right;}
.css_celular_det_label {text-align: right;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: right;}
.css_verificacion_det_label {text-align: right;vertical-align: middle;}
.css_verificacion_det_line {height:0px;text-align: right;}
.css_canal_det_label {text-align: right;vertical-align: middle;}
.css_canal_det_line {height:0px;text-align: right;}
.css_grupo_det_label {text-align: right;vertical-align: middle;}
.css_grupo_det_line {height:0px;text-align: right;}
