.css_cedula_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cedula_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_cargo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cargo_grid_line {vertical-align: top;text-align: right;}
.css_funciones_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_funciones_grid_line {vertical-align: top;text-align: right;}
.css_correo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: right;}
.css_celular_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: right;}
