.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_cedula_det_label {text-align: right;vertical-align: middle;}
.css_cedula_det_line {height:0px;text-align: right;}
.css_funciones_det_label {text-align: right;vertical-align: middle;}
.css_funciones_det_line {height:0px;text-align: right;}
