.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_cedula_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cedula_grid_line {vertical-align: top;text-align: left;}
.css_funciones_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_funciones_grid_line {vertical-align: top;text-align: left;}
