.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_descripcion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: left;}
.css_privado_det_label {text-align: left;vertical-align: middle;}
.css_privado_det_line {height:0px;text-align: left;}
