.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_privado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_privado_grid_line {vertical-align: top;text-align: right;}
