.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_accion_det_label {text-align: right;vertical-align: middle;}
.css_accion_det_line {height:0px;text-align: right;}
.css_cedula_det_label {text-align: right;vertical-align: middle;}
.css_cedula_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_verificacion_det_label {text-align: right;vertical-align: middle;}
.css_verificacion_det_line {height:0px;text-align: right;}
.css_idresponsablealerta_det_label {text-align: right;vertical-align: middle;}
.css_idresponsablealerta_det_line {height:0px;text-align: right;}
