.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_accion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_accion_grid_line {vertical-align: top;text-align: right;}
.css_cedula_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cedula_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: right;}
.css_verificacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_verificacion_grid_line {vertical-align: top;text-align: right;}
.css_idresponsablealerta_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idresponsablealerta_grid_line {vertical-align: top;text-align: right;}
