.css_tag_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tag_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_canal_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_canal_grid_line {vertical-align: top;text-align: right;}
