.css_subcategoria_det_label {text-align: right;vertical-align: middle;}
.css_subcategoria_det_line {height:0px;text-align: right;}
.css_categoria_det_label {text-align: right;vertical-align: middle;}
.css_categoria_det_line {height:0px;text-align: right;}
.css_latitud_det_label {text-align: right;vertical-align: middle;}
.css_latitud_det_line {height:0px;text-align: right;}
.css_longitud_det_label {text-align: right;vertical-align: middle;}
.css_longitud_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_idalerta_det_label {text-align: right;vertical-align: middle;}
.css_idalerta_det_line {height:0px;text-align: right;}
.css_geo_det_label {text-align: right;vertical-align: middle;}
.css_geo_det_line {height:0px;text-align: right;}
.css_correo_det_label {text-align: right;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: right;}
.css_nombre_det_label {text-align: right;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: right;}
.css_celular_det_label {text-align: right;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: right;}
.css_alerta_det_label {text-align: right;vertical-align: middle;}
.css_alerta_det_line {height:0px;text-align: right;}
.css_rutavideo_det_label {text-align: right;vertical-align: middle;}
.css_rutavideo_det_line {height:0px;text-align: right;}
.css_rutaaudio_det_label {text-align: right;vertical-align: middle;}
.css_rutaaudio_det_line {height:0px;text-align: right;}
.css_rutaimagen_det_label {text-align: right;vertical-align: middle;}
.css_rutaimagen_det_line {height:0px;text-align: right;}
.css_canal_det_label {text-align: right;vertical-align: middle;}
.css_canal_det_line {height:0px;text-align: right;}
.css_radicado_det_label {text-align: right;vertical-align: middle;}
.css_radicado_det_line {height:0px;text-align: right;}
.css_origenalerta_det_label {text-align: right;vertical-align: middle;}
.css_origenalerta_det_line {height:0px;text-align: right;}
.css_departamento_det_label {text-align: right;vertical-align: middle;}
.css_departamento_det_line {height:0px;text-align: right;}
.css_municipio_det_label {text-align: right;vertical-align: middle;}
.css_municipio_det_line {height:0px;text-align: right;}
.css_lugar_det_label {text-align: right;vertical-align: middle;}
.css_lugar_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_escalar_det_label {text-align: right;vertical-align: middle;}
.css_escalar_det_line {height:0px;text-align: right;}
.css_motivo_det_label {text-align: right;vertical-align: middle;}
.css_motivo_det_line {height:0px;text-align: right;}
.css_terminado_det_label {text-align: right;vertical-align: middle;}
.css_terminado_det_line {height:0px;text-align: right;}
