.css_descripcionadjunto__label { }
.css_descripcionadjunto__line { }
.css_descripcionadjunto__obj { }
.css_adjunto__label { }
.css_adjunto__line { }
.css_adjunto__obj { }
.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_accion__label { }
.css_accion__line { }
.css_accion__obj {height:150px;}
.css_cedula__label { }
.css_cedula__line { }
.css_cedula__obj { }
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_verificacion__label { }
.css_verificacion__line {text-align:left;}
.css_verificacion__obj {text-align:left;}
.css_idresponsablealerta__label { }
.css_idresponsablealerta__line {text-align:left;}
.css_idresponsablealerta__obj {text-align:left;}
