.css_latitud_label { }
.css_latitud_line { }
.css_latitud_obj { }
.css_longitud_label { }
.css_longitud_line { }
.css_longitud_obj { }
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_idalerta_label { }
.css_idalerta_line {text-align:left;}
.css_idalerta_obj {text-align:left;}
.css_geo_label { }
.css_geo_line { }
.css_geo_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_alerta_label { }
.css_alerta_line { }
.css_alerta_obj { }
.css_rutavideo_label { }
.css_rutavideo_line { }
.css_rutavideo_obj { }
.css_rutaaudio_label { }
.css_rutaaudio_line { }
.css_rutaaudio_obj { }
.css_rutaimagen_label { }
.css_rutaimagen_line { }
.css_rutaimagen_obj { }
.css_canal_label { }
.css_canal_line { }
.css_canal_obj { }
.css_radicado_label { }
.css_radicado_line { }
.css_radicado_obj { }
.css_origenalerta_label { }
.css_origenalerta_line { }
.css_origenalerta_obj { }
.css_departamento_label { }
.css_departamento_line { }
.css_departamento_obj { }
.css_municipio_label { }
.css_municipio_line { }
.css_municipio_obj { }
.css_lugar_label { }
.css_lugar_line { }
.css_lugar_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_escalar_label { }
.css_escalar_line { }
.css_escalar_obj { }
.css_motivo_label { }
.css_motivo_line { }
.css_motivo_obj { }
.css_terminado_label { }
.css_terminado_line {text-align:left;}
.css_terminado_obj {text-align:left;}
