.css_tip_label {width:7%;}
.css_tip_line {width:93%;}
.css_tip_obj { }
.css_id_label {height:25px;}
.css_id_line {height:25px;}
.css_id_obj { }
.css_photo_label { }
.css_photo_line {height:47px;}
.css_photo_obj { }
.css_name_label { }
.css_name_line { }
.css_name_obj { }
