.css_latitud_det_label {text-align: left;vertical-align: middle;}
.css_latitud_det_line {height:0px;text-align: left;}
.css_longitud_det_label {text-align: left;vertical-align: middle;}
.css_longitud_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_idalerta_det_label {text-align: left;vertical-align: middle;}
.css_idalerta_det_line {height:0px;text-align: left;}
.css_geo_det_label {text-align: left;vertical-align: middle;}
.css_geo_det_line {height:0px;text-align: left;}
.css_correo_det_label {text-align: left;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_celular_det_label {text-align: left;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
.css_alerta_det_label {text-align: left;vertical-align: middle;}
.css_alerta_det_line {height:0px;text-align: left;}
.css_rutavideo_det_label {text-align: left;vertical-align: middle;}
.css_rutavideo_det_line {height:0px;text-align: left;}
.css_rutaaudio_det_label {text-align: left;vertical-align: middle;}
.css_rutaaudio_det_line {height:0px;text-align: left;}
.css_rutaimagen_det_label {text-align: left;vertical-align: middle;}
.css_rutaimagen_det_line {height:0px;text-align: left;}
.css_canal_det_label {text-align: left;vertical-align: middle;}
.css_canal_det_line {height:0px;text-align: left;}
.css_radicado_det_label {text-align: left;vertical-align: middle;}
.css_radicado_det_line {height:0px;text-align: left;}
.css_origenalerta_det_label {text-align: left;vertical-align: middle;}
.css_origenalerta_det_line {height:0px;text-align: left;}
.css_departamento_det_label {text-align: left;vertical-align: middle;}
.css_departamento_det_line {height:0px;text-align: left;}
.css_municipio_det_label {text-align: left;vertical-align: middle;}
.css_municipio_det_line {height:0px;text-align: left;}
.css_lugar_det_label {text-align: left;vertical-align: middle;}
.css_lugar_det_line {height:0px;text-align: left;}
.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_escalar_det_label {text-align: left;vertical-align: middle;}
.css_escalar_det_line {height:0px;text-align: left;}
.css_fechaenatencion_det_label {text-align: left;vertical-align: middle;}
.css_fechaenatencion_det_line {height:0px;text-align: left;}
.css_fechafinalizada_det_label {text-align: left;vertical-align: middle;}
.css_fechafinalizada_det_line {height:0px;text-align: left;}
