.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_cedula_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cedula_grid_line {vertical-align: top;text-align: right;}
.css_idalerta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_idalerta_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: right;}
.css_origen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_origen_grid_line {vertical-align: top;text-align: right;}
.css_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_destino_grid_line {vertical-align: top;text-align: right;}
