.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_cedula_det_label {text-align: right;vertical-align: middle;}
.css_cedula_det_line {height:0px;text-align: right;}
.css_idalerta_det_label {text-align: right;vertical-align: middle;}
.css_idalerta_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_origen_det_label {text-align: right;vertical-align: middle;}
.css_origen_det_line {height:0px;text-align: right;}
.css_destino_det_label {text-align: right;vertical-align: middle;}
.css_destino_det_line {height:0px;text-align: right;}
