.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_pregunta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_pregunta_grid_line {vertical-align: top;text-align: left;}
.css_respuesta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_respuesta_grid_line {vertical-align: top;text-align: left;}
.css_adjunto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_adjunto_grid_line {vertical-align: top;text-align: left;}
