.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_pregunta_det_label {text-align: left;vertical-align: middle;}
.css_pregunta_det_line {height:0px;text-align: left;}
.css_respuesta_det_label {text-align: left;vertical-align: middle;}
.css_respuesta_det_line {height:0px;text-align: left;}
.css_adjunto_det_label {text-align: left;vertical-align: middle;}
.css_adjunto_det_line {height:0px;text-align: left;}
